<section id="main-view">
    <div class="container">
        <form id="form-product" method="POST" action="/admin/products/store" enctype="multipart/form-data">
            <div class="row dashboard-title">
                <div class="py-5">
                    <div class="row g-4 align-items-center">
                        <div class="col">
                            <h1 class="h3 m-0">Add Products</h1>
                        </div>
                        {{!-- <div class="col-auto d-flex">
                            <div class="form-group p-2 float-end me-2">
                                <button type="submit" class="btn btn-primary btn-add--product">Add</button>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <div class="row content-dashboard g-4 g-xl-4">
                <!-- total sell -->
                <div class="col col-md-8 ">
                    {{!-- basic information --}}
                    <div class="mb-2">
                        <div class="card p-4 mb-3">
                            <div class="mb-2">
                                <h4>Basic information</h4>
                            </div>
                            <div class="mb-4">
                                <label for="form-product/name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="form-product/name" name="name"
                                    placeholder="Brandix Screwdriver SCREW150" required>
                            </div>
                            <div class="mb-4">
                                <label for="form-product/brand" class="form-label">Brand</label>
                                {{!-- <input type="text" class="form-control" id="form-product/brand" name="brand"
                                    placeholder="Ex: Rolex"> --}}

                                <select id="brand" name="brand" class="form-select" data-placeholder="Select an brand"
                                    data-allow-clear="true" required>
                                    <option></option>
                                    {{#each brands}}
                                    <option value='{{this._id}}' data-thumbnail="{{this.imgUrl}}">{{this.name}}
                                    </option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="mb-4">

                                <label for="form-product/code" class="form-label">Code</label>
                                <input type="text" class="form-control" id="form-product/code" name="code" required>

                            </div>

                            {{!-- <div class="mb-4">
                                <label for="form-product/slug" class="form-label">Slug</label>
                                <div class="input-group--sa-slug input-group">
                                    <span class="input-group-text"
                                        id="form-product/slug-addon">https://example.com/products/
                                    </span>
                                    <input type="text" class="form-control" id="form-product/slug" name="slug"
                                        aria-describedby="form-product/slug-addon form-product/slug-help"
                                        placeholder="Ex: brandix-screwdriver-screw150" required>
                                </div>
                                <div id="form-product/slug-help" class="form-text">Unique human-readable product
                                    identifier.
                                    No longer than 255 characters.</div>
                            </div> --}}
                            <div class="mb-4">
                                <label for="form-product/dial" class="form-label">Dial</label>

                                {{!-- <input type="text" class="form-control" id="form-product/dial" name="dial"
                                    placeholder="Ex: Ivory lacquered, gold applied Breguet numerals" required> --}}
                                <textarea class="form-control" id="form-product/dial" name="dial" required></textarea>

                            </div>
                            <div class="mb-4">
                                <label for="form-product/case" class="form-label">Case</label>

                                <textarea class="form-control" id="form-product/case" name="case"
                                    placeholder="Ex: Rose gold. Interchangeable solid and sapphire crystal case backs. Water-resistant to 30 m. Case diameter: 39 mm. Height: 9.71 mm."
                                    required></textarea>

                            </div>
                            <div class="mb-4">
                                <label for="form-product/strap" class="form-label">Strap</label>

                                <textarea class="form-control" id="form-product/strap" name="strap"
                                    placeholder="Ex: Alligator strap with square scales, hand-stitched, shiny dark chestnut. Fold-over clasp."
                                    required></textarea>

                            </div>

                            <div class="mb-4">
                                <label for="form-product/description" class="form-label">Description</label>
                                <textarea id="form-product/description" name="description"
                                    class="sa-quill-control form-control sa-quill-control--ready" rows="4"
                                    required></textarea>

                            </div>
                        </div>
                        <div class="card p-5 mb-3">
                            <div class="mb-2">
                                <h4>Pricing</h4>
                            </div>
                            <div class="row g-4">
                                <div class="col">
                                    <label for="form-product/price" class="form-label">Price</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control flex-1" id="form-product/price"
                                            name="price" required>
                                        <select class="form-select" name="currency" id="currency">
                                            {{!-- <option value="USD">USD</option> --}}
                                            <option value="VND" selected>VND</option>
                                        </select>
                                    </div>

                                </div>
                                {{!-- <div class="col"><label for="form-product/old-price" class="form-label">Old
                                        price</label><input type="number" class="form-control"
                                        id="form-product/old-price">
                                </div> --}}
                            </div>
                            {{!-- <div class="mt-4 mb-n2"><a href="#">Schedule discount</a></div> --}}
                        </div>
                        {{!-- <div class="card p-5  mb-3">
                            <div class="mb-2">
                                <h4>Inventory</h4>
                            </div>
                            <div class="row g-4">
                                <div class="mb-4">
                                    <label for="form-product/code" class="form-label">Code</label>
                                    <input type="text" class="form-control" id="form-product/code" name="code" required>
                                </div>

                                <div>
                                    <label for="form-product/quantity" class="form-label">Stock quantity</label>
                                    <input type="number" class="form-control" id="form-product/quantity" name="stock">
                                </div>
                            </div>
                            <div class="mt-4 mb-n2"><a href="#">Schedule discount</a></div>
                        </div> --}}

                        <div class="card p-5  mb-3">
                            <div class="mb-2">
                                <h4>Media</h4>
                            </div>
                            {{!-- <div class="upload__box">
                                <div class="upload__btn-box">

                                    <input type="file" multiple="" data-max_length="20" name="imagesProduct[]"
                                        class="upload__inputfile form-control" accept="image/*" required>

                                </div>
                                <div class="upload__img-wrap mt-2"></div>
                            </div> --}}
                            <input type="file" class="form-control" name="imagesProduct[]" multiple id="upload-img" />
                            <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
                        </div>
                    </div>

                </div>
                <div class="col col-md-4">
                    <div class="card p-2">
                        <div class="mb-2">
                            <h4>Thumbnail</h4>
                        </div>
                        <input type="file" class="form-control" name="thumbnail" id="upload-thumnail" />
                        <div class="img-thumbs img-thumbs-hidden" id="thumbnail-preview"></div>

                    </div>
                    <div class="card p-2 mt-4">
                        <div class="mb-2">
                            <h4>Status</h4>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" value="true" id="vPublished"
                                checked>
                            <label class="form-check-label" for="vPublished">
                                Published
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="false" name="status" id="vHidden">
                            <label class="form-check-label" for="vHidden">
                                Hidden
                            </label>
                        </div>
                    </div>

                    <div class="card p-2 mt-4">
                        <label for="form-product/category" class="form-label">Category</label>
                        <select id='category' name="category" class="form-select" data-placeholder="Select an category"
                            data-allow-clear="true" required>
                            <option></option>
                            {{#each categories}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="card p-2 mt-4">
                        <div class="mb-2">
                            <h4>Tags</h4>
                        </div>
                        <select class="form-control tags" multiple="multiple" name="tags[]" required>
                            {{#each tags}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="p-2 mt-4 d-flex">
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div id="loaderDiv">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        //funtion for preview images


        //funtion for select tags
        $(".tags").select2({
            tags: true,
            tokenSeparators: [','],

        })

        //select brand 
        $(document).ready(function () {
            $("#brand").select2({
                width: '100%',

                //formatResult: formatBrand,
                // formatSelection: formatBrand,
                templateResult: formatBrand,
                templateSelection: formatBrand,

                //  escapeMarkup: function(m) { return m; }
            })
        });

        function formatBrand(brand) {
            if (!brand.id) { return brand.text; }
            var originalOption = brand.element;
            const $brand = $(
                `<span class= "d-flex align-items-center"><img style="width: 48px; margin-right: 16px" src="${$(originalOption).data('thumbnail')}" /> ${brand.text}</span>`
            );
            return $brand;
        }

        //select category
        $(document).ready(function () {
            $("#category").select2({
                width: '100%',
            });
        });
        $('#loaderDiv').hide();
        $("#form-product").submit(function (e) {
            e.preventDefault();
            $('#main-view').hide();
            $('#loaderDiv').show();
            this.submit();

        })
    })


</script>