<section id="main-view">
    <div class="container">
        <div class="row dashboard-title">
            <div class="py-5">
                <div class="row g-4 align-items-center">
                    <div class="col">
                        <h1 class="h3 m-0">Dashboard</h1>
                    </div>
                    <div class="col-auto d-flex">
                        <select class="form-select me-3">
                            <option selected="">1 December, 2023</option>
                        </select>
                        <a href="#" class="btn btn-primary">Export</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-dashboard g-4 g-xl-4">
            <!-- total sell -->
            <div class="col col-md-4 d-flex">
                <div class="card card-statistic flex-grow-1 p-3"
                    data-container-query="{'340':'card-statistic--size--lg'}">
                    <div class="card-statistic__header">
                        <div class="widget-header__title">Total sells</div>

                    </div>
                    <div class="card-statistic__body">
                        <h2 class="card-statistic__value">{{number totalSell "0,0" }} VNĐ</h2>
                        <div class="card-statistic__delta card-statistic__delta--rise">
                            <div class="card-statistic__delta-direction">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                                    fill="currentColor">
                                    <path d="M9,0L8,6.1L2.8,1L9,0z"></path>
                                    <circle cx="1" cy="8" r="1"></circle>
                                    <rect x="0" y="4.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.864 4.0858)"
                                        width="7.1" height="2"></rect>
                                </svg>
                            </div>
                            <div class="card-statistic__delta-value">34.7%</div>
                        </div>
                        <div class="card-statistic__caption">Compared to November 2023</div>
                    </div>
                </div>
            </div>
            <!-- Average order value -->
            <div class="col col-md-4 d-flex">
                <div class="card card-statistic flex-grow-1 p-3"
                    data-container-query="{'340':'card-statistic--size--lg'}">
                    <div class="card-statistic__header">
                        <div class="widget-header__title">Average order value</div>

                    </div>
                    <div class="card-statistic__body">
                        <h2 class="card-statistic__value">{{number averageSellValue}} VNĐ</h2>
                        <div class="card-statistic__delta card-statistic__delta--fall">
                            <div class="card-statistic__delta-direction">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                                    fill="currentColor">
                                    <path d="M2.8,8L8,2.9L9,9L2.8,8z"></path>
                                    <circle cx="1" cy="1" r="1"></circle>
                                    <rect x="0" y="2.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 3.5 -1.4497)"
                                        width="7.1" height="2">
                                    </rect>
                                </svg>
                            </div>
                            <div class="card-statistic__delta-value">3.0%</div>
                        </div>
                        <div class="card-statistic__caption">Compared to November 2023</div>
                    </div>
                </div>
            </div>
            <!-- Total oders -->
            <div class="col col-md-4 d-flex">
                <div class="card card-statistic flex-grow-1 p-3"
                    data-container-query="{'340':'card-statistic--size--lg'}">
                    <div class="widget-header card-statistic__header">
                        <div class="widget-header__title">Total orders</div>

                    </div>
                    <div class="card-statistic__body">
                        <h2 class="card-statistic__value">{{totalOder}}</h2>
                        <div class="card-statistic__delta card-statistic__delta--rise">
                            <div class="card-statistic__delta-direction">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                                    fill="currentColor">
                                    <path d="M9,0L8,6.1L2.8,1L9,0z"></path>
                                    <circle cx="1" cy="8" r="1"></circle>
                                    <rect x="0" y="4.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.864 4.0858)"
                                        width="7.1" height="2"></rect>
                                </svg>
                            </div>
                            <div class="card-statistic__delta-value">28.9%</div>
                        </div>
                        <div class="card-statistic__caption">Compared to November 2023</div>
                    </div>
                </div>
            </div>
            <!-- active user -->
            {{!-- <div class="col col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-grow-1 saw-pulse">
                    <div class="widget-header saw-pulse__header p-3 d-flex justify-content-between">
                        <h2 class="widget-header__title fs-5">Active users</h2>

                    </div>
                    <div class="saw-pulse__counter">148</div>
                    <div class="widget-table saw-pulse__table p-2">

                        <table class="table table-pages-user-actived">
                            <thead class="text-primary">
                                <tr>
                                    <th> Active pages</th>
                                    <th> Users </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/Home</a>
                                    </td>
                                    <td>
                                        140
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/Products</a>
                                    </td>
                                    <td>
                                        102
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/About-Us</a>
                                    </td>
                                    <td>
                                        23
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/Orders</a>
                                    </td>
                                    <td>
                                        97
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/Contact</a>
                                    </td>
                                    <td>
                                        34
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="link-dark">/Blogs</a>
                                    </td>
                                    <td>
                                        20
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> --}}
            <!-- chart -->
            <div class="col col-lg-9 col-xxl-9 d-flex">
                <div class="card flex-grow-1 saw-chart ">
                    <!-- header card -->
                    <div class="widget-header saw-pulse__header p-3 d-flex justify-content-between">
                        <h2 class="widget-header__title fs-5">Income statistics</h2>

                    </div>
                    <!-- chart body -->
                    <div class="chart-body p-3">
                        <div class="chart-container">
                            <canvas id="chBar"></canvas>
                        </div>

                    </div>
                </div>
            </div>
            <!-- recent oders -->
            <div class="col col-xxl-9 d-flex">
                <div class="card flex-grow-1 saw-pulse">
                    <div class="widget-header ps-3 pe-3 pt-3 saw-pulse__header d-flex justify-content-between">
                        <h2 class="widget-header__title fs-5">Recent Oders</h2>

                    </div>
                    <div class="widget-table  table-responsive">

                        <table id="recentOders-table" class="table order-list-tb table-bordered">
                            <thead class="text-primary">
                                <tr>
                                    <th> No</th>
                                    <th> Customer</th>
                                    <th> Date </th>
                                    <th> Status</th>
                                    <th> Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- oder 1 -->
                                {{#each resentOders}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.lastName}} {{this.firstName}}</td>
                                    <td>{{moment this.createdAt format="DD/MM/YYYY"}}</td>
                                    <td>
                                        {{#if (equal status 0)}}
                                        <div class="badge badge-sa-primary">Pending</div>
                                        {{else if (equal status 1)}}
                                        <div class="badge badge-sa-success">Completed</div>
                                        {{else}}
                                        <div class="badge badge-sa-danger">Canceled</div>
                                        {{/if}}
                                    </td>
                                    <td>{{number this.totalPrice "0,0.00" }} VNĐ</td>

                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-sm btn-muted d-block"
                                                id="widget-context-menu-1" data-bs-toggle="dropdown"
                                                aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-1">
                                                <li>
                                                    {{!-- <a class="dropdown-item"
                                                        href="/admin/ImportOders/{{this._id}}/edit">View</a> --}}

                                                    {{!-- <p class="dropdown-item btn" data-bs-toggle="modal"
                                                        data-bs-target="#viewOderModal" data-bs-Oder="{{json this}}"
                                                        id="viewBtn">
                                                        View</p> --}}
                                                <li><a class="dropdown-item"
                                                        href="/admin/saleOders/{{this._id}}/view">View Detail</a></li>
                                                </li>
                                                {{!-- <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Delete</a></li> --}}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
</section>

<script>



    document.addEventListener('DOMContentLoaded', function () {
        // chart colors
        var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];
        /* bar chart */
        var chBar = document.getElementById("chBar");
        if (chBar) {
            new Chart(chBar, {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        data: [50, 130, 525, 285, 470, 130, 285, 240, 710, 470, 640, 1110],
                        backgroundColor: colors[0]
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            barPercentage: 1,
                            // categoryPercentage: 0.5
                        }]

                        ,

                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    return value.toLocaleString("en-US", { style: "currency", currency: "VND" });
                                }
                            }
                        }]
                    }

                    ,
                    tooltips: {
                        callbacks: {
                            // label: function(tooltipItem, data) {
                            //     return " $" + Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
                            //         return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                            //     });
                            // }
                            label: function (tooltipItem, data) {
                                return ' ' + (new Intl.NumberFormat('en-US', {
                                    style: 'currency',
                                    currency: 'VND',
                                })).format(tooltipItem.value);
                            }

                        }
                    }
                }
            });
        }
    })


</script>