<!-- content -->
<section class="content">
    <section id="slider">
        <div class="slideshow-container">

            <div class="mySlides" style="background-image: url('/imgs/sliders/slider1.jpg');">
            </div>

            <div class="mySlides" style="background-image: url('/imgs/sliders/slider2.jpg') ;">
            </div>

            <div class="mySlides" style="background-image: url('/imgs/sliders/slider3.jpg');">
            </div>
            <div class="mySlides" style="background-image: url('/imgs/sliders/slider4.jpg');">
            </div>
            <div class="mySlides" style="background-image: url('/imgs/sliders/slider5.jpg');">
            </div>
        </div>
        <div class="btn-shop">
            <a href="watches.html">Shop now</a>
        </div>
    </section>
    <!-- gender watch -->

    <section class="gender-categorize">
        <div class="gender-categorize-item">

            {{!-- <img src="/imgs/categories/manWatch.jpg" alt=""> --}}
            <div class="gender-item-box" style="background-image: url('/imgs/categories/manWatch.jpg') ;">

            </div>
            <a class="text-item " href="/categories/man">Man Watches
                <div id="border-bottom"></div>
            </a>

            <!-- </div> -->
        </div>
        <div class="gender-categorize-item">
            <div class="gender-item-box" style="background-image: url('/imgs/categories/test.jpg') ;">

            </div>
            <a class="text-item " href="/categories/woman">
                Woman Watches
                <div id="border-bottom"></div>
            </a>
            {{!-- <img src="/imgs/categories/womanWatch.jpg" alt=""> --}}

            <!-- </div> -->
        </div>
    </section>

    <!-- brands -->
    <section class="content-section">
        <div class="container">
            <div class="content-title">
                <h2>
                    <span>Brands</span>
                </h2>
                <a class="view-all-link"
                    href="#">View All</a>
            </div>

            <!-- Flickity HTML init -->
            <div class="carousel js-flickity"
                data-flickity='{"wrapAround": false,"freeScroll": false, "contain": true,  "lazyLoad": 2, "initialIndex": 2, "pageDots": false}'>
                {{#each brands}}
                <div class="carousel-cell">
                    <div class="box-image">
                        <a href="/brands/{{this.name}}">
                            <img class="carousel-cell-image brand-image" data-flickity-lazyload="{{this.imgUrl}}"
                                alt="tulip">
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </section>


    <!-- product new -->
    <section class="content-section">
        <div class="container">
            <div class="content-title">
                <h2>
                    <span>2023 Watches</span>
                </h2>
                <p>Products with high class</p>
            </div>
            <div class="content-containter">
                <!-- Flickity HTML init -->
                <div class="carousel js-flickity"
                    data-flickity='{"wrapAround": false,"freeScroll": false, "contain": true,  "lazyLoad": 2, "initialIndex": 1, "pageDots": false}'>
                    {{#each products}}
                    <div class="carousel-cell xx" data-name="product-01">
                        <div class="box-image">
                            <a href="/products/{{this.slug}}">
                                <img class="carousel-cell-image product-image"
                                    data-flickity-lazyload="{{this.thumbnail}}" alt="tulip">

                            </a>
                            {{!-- <div class="quick-view">
                                <a href="/products/{{this.slug}}" class="text">
                                     View
                                </a>
                            </div> --}}

                        </div>
                        <div class="box-caption">
                            <a class="product-name" href="/products/{{this.slug}}">{{this.name}}</a>
                            <p class="product-price">
                                {{number this.price "0,0.00" }} VND
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <!-- Latest Blog -->
    <section class="content-section">
        <div class="container">
            <div class="content-title">
                <h2>
                    <span>Latest Blog</span>
                </h2>
                <p>Watches with contemporary fashion</p>
            </div>
            <div class="content-containter">
                <div class="content-blogs">
                    <!-- blog 1 -->
                    <div class="blog-item">
                        <div class="blog-image" style="background-image: url('/imgs/blogs/blog1.jpg');">
                        </div>
                        <div class="blog-item-text">
                            <span><i class="ti-calendar"></i> 21 November 2022</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a class="hover-underline-animation" href="blog.html">Read More</a>
                        </div>
                    </div>
                    <!-- blog 2 -->
                    <div class="blog-item">
                        <div class="blog-image" style="background-image: url('/imgs/blogs/blog2.jpg');">
                        </div>
                        <div class="blog-item-text">
                            <span><i class="ti-calendar"></i> 21 November 2022</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a class="hover-underline-animation" href="blog.html">Read More</a>
                        </div>
                    </div>
                    <!-- blog 3 -->
                    <div class="blog-item">

                        <div class="blog-image" style="background-image: url('/imgs/blogs/blog3.jpg');">

                        </div>

                        <div class="blog-item-text">
                            <span><i class="ti-calendar"></i> 21 November 2022</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a class="hover-underline-animation" href="blog.html">Read More</a>
                        </div>
                    </div>
                </div>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            $('.slideshow-container').slick({
                dots: true,
                cssEase: 'ease-in',
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnHover: false,
                pauseOnFocus: false,

            });

        });

    })
</script>